# Virtual env
/env/

# Compiled python files
*.pyc
*.pyo

# JSLIB build files
jslib/
jslib-modular/
jslib-refcheck/
.mkdir
.tssyntaxcheck/

# Temporary files
*~

# default local server folder
/devserver/
apps/protorun/bin/protorun.dll
*.dll
*.pdb
apps/protorun/obj/Debug/protorun.csproj.FileListAbsolute.txt
